.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.project, .profile {
    display: flex;
    align-items: center;
    background-color: orange;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.profile{
    background-color: black;
    color: white;
}

.project img, .profile img {
    margin-right: 10px;
}

.navigatorItems {
    flex-grow: 1;
    background-color: #e0e0e0;
    padding: 10px;
}